[Unit]
Description=gunicorn3 for hackaday-30-mmo
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day30_mmo
ExecStart=/bin/gunicorn3 -e SCRIPT_NAME=/hackaday/mmo --bind 0.0.0.0:8030 app:app

[Install]
WantedBy=multi-user.target
