/* -- This specific Hack-A-Day project -- */

.error:not(:empty), .motd:not(:empty) {
    margin: 20px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.motd:not(:empty) {
    background-color: lightblue;
}

.content form {
    margin-bottom: 20px;
}

.chooser input {
    margin-top: 1px;
}
.chooser input[type=submit] {
    margin-top: 10px;
}


nav > li.logged-in, .logged-in {
    display: none;
}

.place-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.place-container > * {
    display: inline-block;
}

.thing-container > * {
    margin-bottom: 20px;
    vertical-align: top;
}

.crafting .hidden, .craft.card.hidden {
    display: none;
}

.mention {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 12pt;
    margin: 10px 0 20px 5px;
    font-style: italic;
    font-family: lucida;
}

.card {
    border: 1px solid lightgrey;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: min-content;
    height: 300px
}
@media only screen and (min-width: 600px) {
    .card {
        margin-left: 5em;
    }
    header, .content {
        margin-left: 40px !IMPORTANT;
    }
    .afk-container {
        width: 300px;
        height: 400px;
    }
}
@media only screen and (max-width: 600px) {
    .thing-container {
        text-align: center;
    }
    .afk-container {
        width: 224px;
        --cards: 0;
        height: calc(min(var(--cards), 1) * (max(var(--cards), 5) * 20px + 280px));
    }
    #bug-reporter {
        top: 0;
        bottom: auto !IMPORTANT;
    }
}

.thing canvas {
    width: 200px;
    height: 200px;
    /*border: 1px solid;*/
}
div.plus {
    height: 200px;
    width: 200px;
    filter: opacity(10%) blur(2px);
    background-image:url(image/plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.thing .actions {
    padding: 5px 0 5px 0;
    /*height: 30px;*/
}
.place {
    background-color: rgba(255, 0, 0, 0.02);
}
.person {
    background-color: rgba(0, 255, 0, 0.02);
}
.door {
    background-color: rgba(0, 0, 255, 0.02);
}
.scenery {
    background-color: rgba(255, 255, 0, 0.02);
}
.afk-container {
    position: relative;
    display: inline-block;
}
.card.afk {
    background-color: rgb(200, 200, 200);
    position: absolute;
    left: calc(20px * min(var(--order), 5));
    top: calc(20px * min(var(--order), 5));
    z-index: calc(5 - var(--order) );
    border-width: 2px;
    border-color: #ddd;
    box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 40%);
}
.card.afk:hover {
    z-index:7;
}

.easel:not(.enabled), .chooser:not(.enabled) {
    display: none;
}


.easel {
    display: block;
    padding: 20px;
    width: min-content;
}

.easel canvas {
    width: calc(min(100vw, 100vh));
    height: calc(min(100vw, 100vh));
    border: 1px solid;
    user-select: none;
}

@media only screen and (max-width: 500px) {
    .easel {
        position: absolute;
        left: 0px;
    }
}
@media only screen and (min-width: 500px) {
    .easel canvas {
        width: 400px;
        height: 400px;
    }
}

.easel div {
    width: 100%;
    text-align: center;
    font-size: 16pt;
}

.chooser {
    font-size: 16pt;
    margin-bottom: 20px;

}

/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0,0,0,0);
    width: 24px;
    margin-left: 10px;
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}
.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}
.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.fullscreen .footer {
    margin-top: 0;
}
html.fullscreen, .fullscreen body, .fullscreen .container {
    height: 100%;
}
