/* -- This specific Hack-A-Day project -- */

.error:not(:empty), .motd:not(:empty) {
    opacity: 1;
    height: auto;
    margin: 20px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.error:not(:empty) {
    animation: fadeout 10s;
    visibility: hidden;
}
.motd:not(:empty) {
    background-color: lightblue;
}
@keyframes fadeout {
    0% { opacity: 1; visibility: visible; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.content form {
    margin-bottom: 20px;
}

.chooser input {
    margin-top: 1px;
}
.chooser input[type=submit] {
    margin-top: 10px;
}


nav > li.logged-in, .logged-in {
    display: none;
}

.place-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.place-container > * {
    display: inline-block;
}

.thing-container > * {
    margin-bottom: 20px;
    vertical-align: top;
}

.crafting .hidden, .action .hidden {
    display: none;
}

.mention {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 12pt;
    margin: 10px 0 20px 5px;
    font-style: italic;
    font-family: lucida;
}

.card {
    border: 1px solid lightgrey;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: min-content;
    height: 300px;
}
.card .name {
    max-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

@media only screen and (min-width: 600px) {
    .card {
        margin-left: 5em;
    }
    header, .content {
        margin-left: 40px !IMPORTANT;
    }
    .stack {
        --max-cards: 5;
        width: calc(222px + (20px * (var(--max-cards)-1)));
    }
}
@media only screen and (max-width: 600px) {
    .thing-container {
        text-align: center;
    }
    .stack {
        --max-cards: 3;
        width: 222px;
    }
    #bug-reporter {
        top: 0;
        bottom: auto !IMPORTANT;
    }
}

.card canvas {
    width: 200px;
    height: 200px;
    display: block;
    /*border: 1px solid;*/
}
.inventory .card canvas, .inventory .card .plus {
    width: 50px;
    height: 50px;
}
.inventory .card .type {
    display: none;
}
.inventory .card input[type=submit] {
    max-width: 50px;
}
.inventory .card .name {
    max-width: 50px;
}
.inventory .action:nth-child(n+4) {
    display: none;
}
div.plus {
    height: 200px;
    width: 200px;
    filter: opacity(10%) blur(2px);
    background-image:url(image/plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.card .actions {
    padding: 5px 0 5px 0;
    /*height: 30px;*/
}
.place {
    background-color: rgb(255, 250, 250);
}
.person {
    background-color: rgb(250, 255, 250);
    height: auto;
}
.afk {
    height: 392px; /* Max height of a person */
}
.door {
    background-color: rgb(250, 250, 255);
}
.scenery {
    background-color: rgb(255, 255, 250);
}
.item {
    background-color: rgb(250, 255, 255); /*rgba(0, 255, 255, 0.02);*/
}
.inventory .card {
    height: auto;
    padding: 6px;
    margin-left: 0;
    margin-right: 2px;
}
.inventory .card:last-child { margin-right: 0; }
/* .inventory:not(:empty) { width: 200px } */
.stack {
    position: relative;
    display: inline-block;
    height: 396px;
    --cards: 0;
    margin-bottom: calc(min(var(--cards), 1) * ((max(var(--cards), var(--max-cards)) - 1) * 20px));
}
.afk {
    background-color: rgb(200, 200, 200);
    position: absolute;
    border-width: 2px;
    border-color: #ddd;
}
.afk .card {
    background-color: rgb(220, 220, 220);
}

.stack > .card {
    left: calc(20px * min(var(--order), var(--max-cards) - 1));
    top: calc(20px * min(var(--order), var(--max-cards) - 1));
    z-index: calc(5 - var(--order) );
    box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 40%);
}
.card.afk:hover {
    z-index:7;
}

.easel:not(.enabled), .chooser:not(.enabled) {
    display: none;
}


.easel {
    display: block;
    padding: 20px;
    width: min-content;
}

.easel canvas {
    --size: calc(min(100vw, 100vh) - 40px);
    width: var(--size);
    height: var(--size);
    border: 1px solid;
    user-select: none;
}

@media only screen and (max-width: 500px) {
    .easel {
        position: absolute;
        left: 0px;
    }
}
@media only screen and (min-width: 500px) {
    .easel canvas {
        width: 400px;
        height: 400px;
    }
}

.easel div {
    width: 100%;
    text-align: center;
    font-size: 16pt;
}

.chooser {
    font-size: 16pt;
    margin-bottom: 20px;

}

/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0,0,0,0);
    width: 24px;
    margin-left: 10px;
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}
.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}
.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.fullscreen .footer {
    margin-top: 0;
}
html.fullscreen, .fullscreen body, .fullscreen .container {
    height: 100%;
}
