/* -- This specific Hack-A-Day project -- */

.error:not(:empty),
.motd:not(:empty) {
    opacity: 1;
    height: auto;
    margin: 20px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.error:not(:empty) {
    animation: fadeout 10s;
    visibility: hidden;
}

.motd:not(:empty) {
    background-color: lightblue;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.content form {
    margin-bottom: 20px;
}

.chooser input {
    margin-top: 1px;
}

.chooser input[type=submit] {
    margin-top: 10px;
}


nav>li.logged-in,
.logged-in {
    display: none;
}

.place-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.place-container>* {
    display: inline-block;
}

.thing-container>* {
    margin-bottom: 20px;
    vertical-align: top;
}

.hidden {
    display: none !IMPORTANT;
}

.mention {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 12pt;
    margin: 10px 0 20px 5px;
    font-style: italic;
    font-family: lucida;
}

.dcard {
    border: 1px solid lightgrey;
    display: inline-block;
    padding: 10px 10px 0 10px;
    border-radius: 20px;
    text-align: center;
    width: min-content;
    min-height: 275px;
    max-height: 300px;
    position: relative;
}

.dcard.person,
.dcard.afk,
.inventory .dcard:not(.zoom) {
    min-height: inherit;
    max-height: inherit;
}

.dcard .type {
    color: rgba(0,0,0, 0.4);
}

.dcard .name {
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

@media only screen and (min-width: 600px) {
    .dcard {
        margin-left: 5em;
    }

    header {
        margin-left: 40px !IMPORTANT;
    }

    .stack {
        --max-cards: 5;
        width: calc(222px + (20px * (var(--max-cards)-1)));
    }
}

@media only screen and (max-width: 600px) {
    .thing-container {
        text-align: center;
    }

    .stack {
        --max-cards: 3;
        width: 222px;
    }
}

@media only screen and (orientation:portrait) {
    #bug-reporter {
        position: fixed;
        top: 0;
        right: 0;
        bottom: inherit !IMPORTANT;
    }
}

.dcard .thing-image {
    width: 200px;
    height: 200px;
    display: block;
    /*border: 1px solid;*/
}

.dcard .edit-button {
    position: absolute;
    right: 2px;
    top: 0;
    height: 32px;
    width: 40px;
    padding: 5px;
    border-radius: 16px;
    background-color: beige;
    border: 1px solid lightgrey;
    /*box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.2);*/
}
.dcard .edit-button:hover {
    filter: contrast(90%);
}

.inventory {
    position: relative;
    height: 64px;
    margin-bottom: 4px;
}

.inventory .dcard:not(.zoom):hover {
    filter: contrast(90%);
}

.inventory .dcard.zoom {
    position: absolute;
    left: 0;
    margin-left: 0;
    z-index:2;
}
.inventory .dcard.zoom:hover {
    filter: contrast(98.5%);
}

.inventory .dcard:not(.zoom) .thing-image,
.inventory .dcard:not(.zoom) .plus {
    width: 50px;
    height: 50px;
}

.inventory .dcard:not(.zoom) .type {
    display: none;
}

.inventory .dcard:not(.zoom) .actions {
    display: none;
}

.inventory .dcard:not(.zoom) input[type=submit] {
    max-width: 50px;
}

.inventory .dcard:not(.zoom) .name {
    max-width: 50px;
}

.inventory .action-card:nth-child(n+4):not(.zoom) {
    display: none;
}

.action {
    /* copied from bootstrap 5*/
    cursor: pointer;
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #dae0e5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.25rem 0.5rem;
    font-size: .845rem;
    border-radius: 0.2rem;
    line-height: 1.5;
    transition:
      color .15s ease-in-out,
      background-color .15s ease-in-out
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
}
.action:hover {
    color: #212529;
    background-color: #dae0e5;
    border-color: #dae0e5;
}

div.plus {
    height: 200px;
    width: 200px;
    filter: opacity(5%) blur(2px);
    background-image: url(image/plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.dcard .actions {
    padding: 5px 0 5px 0;
}

.place {
    background-color: rgb(255, 250, 250);
}

.person {
    background-color: rgb(250, 255, 250);
    height: auto;
}

.door {
    background-color: rgb(250, 250, 255);
}

.scenery {
    background-color: rgb(255, 255, 250);
}

.item {
    background-color: rgb(250, 255, 255);
}

.inventory .dcard:not(.zoom) {
    height: auto;
    padding: 6px;
    margin-left: 0;
    margin-right: 2px;
}

.inventory .dcard:not(.zoom) .name {
    display: none;
}

.inventory .dcard:last-child:not(.zoom) {
    margin-right: 0;
}

.stack {
    position: relative;
    display: inline-block;
    height: 396px;
    --cards: 0;
    margin-bottom: calc(min(var(--cards), 1) * ((max(var(--cards), var(--max-cards)) - 1) * 20px));
}
.stack:empty {
    display: none;
}

.afk {
    height: 314px; /* Max height of a person */
    background-color: rgb(200, 200, 200);
    position: absolute;
    border-width: 2px;
    border-color: #ddd;
}

.afk .dcard {
    background-color: rgb(220, 220, 220);
}

.stack>.dcard {
    left: calc(20px * min(var(--order), var(--max-cards) - 1));
    top: calc(20px * min(var(--order), var(--max-cards) - 1));
    z-index: calc(5 - var(--order));
    box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 40%);
}

.dcard.afk:hover {
    z-index: 7;
}

.easel:not(.enabled),
.chooser:not(.enabled) {
    display: none;
}


.easel {
    display: block;
    padding: 20px;
    width: min-content;
    position: absolute;
    left: 0px;
}

.easel canvas {
    --size: calc(min(100vw - 40px, 100vh - 164px));
    width: var(--size);
    height: var(--size);
    border: 1px solid;
    user-select: none;
}

.easel div {
    width: 100%;
    text-align: center;
    font-size: 16pt;
    max-height: 32px;
}

.tool {
    height: 32px;
    width: 32px;
}

.tool-selected {
    border: 2px red solid;
    padding: 2px;
    margin-left: 10px;
}

.chooser {
    font-size: 16pt;
    margin-bottom: 20px;

}

/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}

.footer {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}

.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    width: 24px;
    margin-left: 10px;
}

.wheel {
    --n: 10;
    --dur: 60;
    position: relative;
    overflow: hidden;
    width: calc(min(100vw, 800px));
    height: 300px;
}
.wheel > .dcard:nth-child(1) { --i:1; }
.wheel > .dcard:nth-child(2) { --i:2; }
.wheel > .dcard:nth-child(3) { --i:3; }
.wheel > .dcard:nth-child(4) { --i:4; }
.wheel > .dcard:nth-child(5) { --i:5; }
.wheel > .dcard:nth-child(6) { --i:6; }
.wheel > .dcard:nth-child(7) { --i:7; }
.wheel > .dcard:nth-child(8) { --i:8; }
.wheel > .dcard:nth-child(9) { --i:9; }
.wheel > .dcard:nth-child(10) { --i:10; }
.wheel > .dcard {
    position: absolute;
    --rotation: 0deg;
    transform: rotate(180deg) translateY(400px) rotate( calc(var(--i)/var(--n) * 360deg + var(--rotation) ) ) translateY(400px);
    z-index: var(--i);
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}

.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}

.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.fullscreen .footer {
    margin-top: 0;
}

html.fullscreen,
.fullscreen body,
.fullscreen .container {
    height: 100%;
}

#bug-reporter {
    display: none;
}
