/* -- This specific Hack-A-Day project -- */

/* TODO: Make mobile friendly */

.error:not(:empty) {
    margin: 20px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

header, .content {
    margin-left: 40px !IMPORTANT;
}

nav > li.logged-in, .logged-in {
    display: none;
}

.place-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.place-container > * {
    display: inline-block;
}

.thing-container > * {
    margin-bottom: 20px;
    vertical-align: top;
}

.mention {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 12pt;
    margin: 10px 0 20px 5px;
    font-style: italic;
    font-family: lucida;
}

.thing {
    border: 1px solid lightgrey;
    display: inline-block;
    margin-left: 5em;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: min-content;
    height: 300px
}
.thing canvas {
    width: 200px;
    height: 200px;
}
.thing .actions {
    padding: 5px 0 5px 0;
    /*height: 30px;*/
}
.place {
    background-color: rgba(255, 0, 0, 0.02);
}
.person {
    background-color: rgba(0, 255, 0, 0.02);
}
.door {
    background-color: rgba(0, 0, 255, 0.02);
}
.scenery {
    background-color: rgba(255, 255, 0, 0.02);
}

.easel:not(.enabled), .chooser:not(.enabled) {
    display: none;
}

.easel {
    display: block;
    padding: 20px;
    width: min-content;
}

.easel canvas {
    width: 400px;
    height: 400px;
    border: 1px solid;
    user-select: none;
}

.easel div {
    width: 100%;
    text-align: center;
}

.chooser {

}

/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0,0,0,0);
    width: 24px;
    margin-left: 10px;
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}
.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}
.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.fullscreen .footer {
    margin-top: 0;
}
html.fullscreen, .fullscreen body, .fullscreen .container {
    height: 100%;
}
